[submodule "src/sirius/sirius_description"]
	path = src/sirius/sirius_description
	url = https://github.com/YakiFrog/sirius_description.git
[submodule "src/sirius/sirius_navigation"]
	path = src/sirius/sirius_navigation
	url = https://github.com/YakiFrog/sirius_navigation
[submodule "src/roboteq_ros2_jazzy_driver"]
	path = src/roboteq_ros2_jazzy_driver
	url = git@github.com:YakiFrog/roboteq_ros2_jazzy_driver.git
