roboteq_ros2_driver:
  ros__parameters:
    pub_odom_tf: true
    odom_frame: "odom"
    base_frame: "base_footprint"
    cmdvel_topic: "cmd_vel"
    odom_topic: "odom"
    port: "/dev/roboteq"
    baud: 230400
    open_loop: true
    wheel_circumference: 0.877
    track_width: 0.40
    max_amps: 9.0
    max_rpm: 100
    pulse: 325 # もとは295. 325(10m走って10.25mのパラメタ)
    max_speed: 0.5
