[Desktop Entry]
Version=1.0
Type=Application
Name=Sirius Launcher
Comment=Launch ROS2 nodes and launch files for Sirius Robot
Exec=/usr/bin/python3 /home/sirius-jazzy-nuc/sirius_jazzy_ws/other_programs/sirius_launcher/sirius_launcher.py
Path=/home/sirius-jazzy-nuc/sirius_jazzy_ws/other_programs/sirius_launcher
Icon=system-run
Terminal=false
Categories=Utility;Development;
